@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-image: url(/src/images/landing\ page.png);
    background-repeat: no-repeat;
    background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: "LuxoraGrotesk-Regular";
    src: local("LuxoraGrotesk-Regular"),
      url("./fonts/LuxoraGrotesk-Regular.otf") format("opentype");
    font-weight: normal;
  }
